body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #98096b, #dfe9f3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #111;
    margin-bottom: 20px;
    font-size: 28px;
}

input {
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 8px;
    outline: none;
    margin-right: 10px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #ff00bf;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #005fcc;
}

p {
    font-size: 18px;
    margin: 10px 0;
    color: #222;
}

#result {
    font-weight: bold;
}

#score {
    color: #010c18;
    font-weight: bold;
}
